body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:71px;
  width:208px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:399px;
  width:524px;
  height:30px;
  font-size:20px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:439px;
  width:471px;
  height:243px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:600px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:939px;
  width:300px;
  height:600px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:967px;
  width:28px;
  height:21px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:967px;
  width:60px;
  height:21px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:966px;
  width:15px;
  height:22px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:967px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1074px;
  width:46px;
  height:27px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1118px;
  width:46px;
  height:27px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1201px;
  width:46px;
  height:27px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1244px;
  width:46px;
  height:27px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1332px;
  width:46px;
  height:27px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1289px;
  width:46px;
  height:27px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1377px;
  width:46px;
  height:27px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1420px;
  width:46px;
  height:27px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1463px;
  width:46px;
  height:27px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:1507px;
  width:46px;
  height:27px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1244px;
  top:1189px;
  width:234px;
  height:45px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:1182px;
  width:300px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:127px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:123px;
  width:404px;
  height:127px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:627px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:390px;
  width:404px;
  height:627px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:154px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:250px;
  width:396px;
  height:154px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1030px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1065px;
  width:396px;
  height:1px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:59px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1537px;
  width:404px;
  height:59px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:1547px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1547px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1547px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1547px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:250px;
  width:64px;
  height:21px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:472px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1065px;
  width:400px;
  height:472px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:457px;
  width:83px;
  height:21px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:457px;
  width:83px;
  height:21px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
