body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:37px;
  width:139px;
  height:22px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:112px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:69px;
  width:676px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
